/* Le da estilo a la galeria */
.container {
  margin: 0;
  width: 50%;
  display: flex;
  justify-content: center;
}

.galeria {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Adelante {
  width: 50%;
  max-width: 700px;
}

.btnAdelante {
  margin: 1rem;
  background-color: rgb(51, 255, 0);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.btnAtras {
  background-color: brown;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
}

.imagenCarrousel:hover {
  padding: 1rem;
  margin: 1rem;
  height: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.Gallery-title {
  margin-right: 6rem;
  text-align: center;
  color: #ff0000;
  transition: color 0.3s ease-in-out;
}
.Gallery-title:hover {
  color: #ffffff;
}
.imagenCarrousel:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  filter: brightness(110%);
}

@media (max-width: 780px) {
  .container {
    width: 90%;
    display: flex;
    justify-content: center;
  }
}
