@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 780px) {
  .login-container {
    width: 100%;
    padding: 20px;
  }

  .login-container .card-header h1 {
    font-size: 1.5rem;
  }

  .login-container .card-body form .form-group label {
    font-size: 1rem;
  }

  .login-container .card-body form .form-group input {
    font-size: 1rem;
  }

  .login-container .card-body form button {
    font-size: 1rem;
  }

  .login-container .elemento__lista {
    font-size: 1rem;
  }
}

